.layout-switch {
  background-color: #e2efff;
}

// Business Card Styles
.business-card-container {
  .business-name {
    color: #0e2d52;
  }

  .category-name {
    color: #9090a7;
  }

  .location-text {
    color: #0e2d52;
  }

  .businesss-call-line {
    color: #0e2d52;
    background: #e7f2ff;
  }
}
