// Styles mean't for businesses filter component

.filter-container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 999;
  background: #fff;

  &.filter-card {
    width: 100%;
    height: auto;
    background: #fff;
  }

  .error-cont {
    min-height: 50px;
    span {
      color: #ff4741;
    }
  }

  .close-btn {
    background: none;
  }

  //   search and reset button
  .filter-controls {
    button {
      width: 120px;
      height: 55px;
      border: none;
      outline: none;
      background: none;
      cursor: pointer;
      transition: all 0.3s ease;

      &:active {
        transform: scale(0.9);
      }

      &:target {
        transform: scale(1);
      }

      &.search-btn {
        background: #0e2d52;
        color: #fff;
        cursor: pointer;
      }

      &.reset-btn {
        color: #000;
        cursor: pointer;
      }
    }
  }

  //   placeholders
  .filter-placeholders {
    .placeholder {
      background: #eaeaea;

      .close-btn {
        background: none;
      }
    }
  }
}

.multisearch-comp {
  .trigger {
    border: 1px solid #ccc;
    background: none;
    cursor: pointer;

    &:focus,
    &:target {
      border: 1px solid #000;
    }

    &.disabled {
      background: #f5f5f5;
      cursor: not-allowed;
    }

    .placeholder {
      color: #00000047;

      &.value {
        color: #000;
      }
    }

    input {
      background: none;

      &::placeholder {
        color: #00000047;
      }
    }
  }

  .floating-panel {
    // background: red;
    box-shadow: 0px 4px 4px 0px #00000044;
    background: #fff;
    z-index: 999;

    input {
      border-bottom: 1px solid #cccccc7e;
    }

    span {
      color: #777;
    }

    .single-list {
      background: none;
    }

    .single-list.active {
      background: #0d2c51;
      color: #fff;
    }

    .single-list.active > span {
      color: #fff;
    }
  }
}
