.onboarding {
  background-color: var(--light-grey);
  padding: 66px 16px 100px;
}

@media screen and (max-width: 500px) {
  .onboarding {
    .card {
      padding: 32px 16px;
      background-color: var(--white-color);
      display: flex;
      flex-direction: column;
      gap: 28px;

      h4 {
        font-size: 16px;
        font-weight: 600;
        line-height: 24px;
        font-family: "Open Sans", sans-serif;
      }
    }
  }
}
