.no-result-found-card {
  &.no-result-found-card-home {
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    padding: 24px 16px;
    align-items: center;
    box-shadow: 0px 4px 4px 0px #00000040;
    font-size: 16px;
    margin-bottom: 32px;
    border-radius: 24px;
    width: 374px;
    max-width: 100%;

    h3 {
      font-weight: 700;
      line-height: 40px;
      font-size: 16px;
    }

    img {
      max-width: 100%;
      width: 200px;
      height: 156px;
      border-radius: 8px;
      margin-bottom: 1rem;
    }
    p {
      font-weight: 400;
      line-height: 24px;
      font-family: "Open Sans", sans-serif;
      padding: auto;
      color: #cec9c9;
    }
  }
}
