.business-details-container {
  .category-name {
    color: #9090a7;
  }

  .readmore-trigger {
    color: #17bebb;
  }

  .opening-hours-dd {
    background: #fff;
  }

  //   calendar grid
  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;

    .daysOfWeek {
      grid-column: span 2;
    }
    .time {
      grid-column: span 2;
    }
  }
}

// social media links tooltip
.social-links-tooltip-container {
  position: relative;

  .tooltiptext {
    font-size: 10px;
    transform: scale(0.9);
    left: -22px;

    &::before {
      // top arrow
      content: "";
      position: absolute;
      top: -10px;
      left: 50%;
      transform: translateX(-50%);
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent #000 transparent;
    }

    &.hidden {
      visibility: hidden;
    }
    &.visible {
      visibility: visible;
    }
  }
}
