button.btn,
a.btn {
  width: 100%;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 8px;
  cursor: pointer;

  &-md {
    height: 37px;
  }

  &-lg {
    height: 48px;
  }
  &-sm {
    height: 48px;
    width: 50%;
  }

  &-default {
    background-color: var(--black-color);
    color: var(--white-color);
  }

  &-primary {
    background-color: var(--primary-color);
    color: var(--white-color);
  }

  &-transparent {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
  }
}
button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
