.navbar-main{
    background-color: #F4F9FF;
}


.navbar {
    // background-color: var(--white-color);
    // position: absolute;
    width: 100%;
    height: 108px;
    display: flex;
    justify-content: center;

}

@media screen and (max-width: 500px) {
    .navbar {
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 346px;
            height: 60px;
            margin-top: 24px;
            padding:" 16px", "27px", "16px", "22px";
            border-radius: 5px;
            background-color: #FFFFFF;
            padding-left: 27px;
            padding-right: 27px;
            padding-top: 18px;
            padding-bottom: 16px;
        }

        .nav-content {
            padding: 32px 16px;
            box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .2);
            position: relative;
            background-color: var(--white-color);
            z-index: 2;
            width: 100vh;
            height: 100vh;
            border-radius: 5px;

            .icon-cancel {
                position: absolute;
                right: 24px;
            }

            &-items {
                display: flex;
                flex-direction: column;
                margin-top: 15px;
                margin-left: 25px;

                li {
                    list-style: none;
                    padding-bottom: 15px;
                    font-family: Helvetica Neue;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 14px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #828297;

                    p {
                        font-size: 20px;
                        line-height: 40px;
                    }
                    
                }

                .cta {
                    display: flex;
                    margin-top: 30px;

                    .signup {
                        width: 120px;
                        height: 55px;
                        padding: 0px, 34px, 0px, 34px;
                        border-radius: 6px;
                        background-color: #0E2D52;
                    }

                    .login {
                        width: 120px;
                        height: 55px;
                        border: none;
                        font-family: Helvetica Neue;
                        font-weight: 500;
                        text-align: right;
                    }
                }

                .logout {
                    margin-top: 20px;
                }

                hr {
                    border: none;
                    border-top: 1px solid #0000001C;
                    margin: 20px 0 32px;
                }

                a:last-child {
                    // margin-top: 16px;
                }
            }
        }

        .edit-business {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 24px;
            padding: 0 18px;

            .arrow-down {
                transform: rotate(180deg);
            }
        }

        .business-list-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 4px;
            padding: 0 18px;
            cursor: pointer;

            p {
                font-size: 18px !important;
                font-weight: 300;
            }
        }

        .add-bus-btn {
            margin-top: 32px;
        }

        .mb-4 {
            margin-bottom: 16px;
        }

        .my-account-nav {
            text-align: center;
            margin-top: 40px;
        }
    }
}


// Define the breakpoints for laptop and mobile views
$breakpoint-laptop: 501px;
$breakpoint-mobile: 500px;

// Apply styles based on the screen size
.responsive-content {
  .laptop-view {
    display: none; // Hide by default
  }

  .mobile-view {
    display: none; // Hide by default
  }

  // Media query for laptop view
  @media only screen and (min-width: $breakpoint-laptop) {
    .laptop-view {
      display: block; // Show on laptop view
    }

    .mobile-view {
      display: none; // Hide on laptop view
    }
  }

  // Media query for mobile view
  @media only screen and (max-width: $breakpoint-mobile) {
    .laptop-view {
      display: none; // Hide on mobile view
    }

    .mobile-view {
      display: block; // Show on mobile view
    }
  }
}