.navbar {
    background-color: var(--white-color);
    position: absolute;
    width: 100%;

    nav {
        height: 84px;
        padding: 12px 24px;
        box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .2);
    }

}

@media screen and (max-width: 500px) {
    .navbar {
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-left: 0;
        }

        .nav-content {
            padding: 32px 16px;
            height: 100vh;
            box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .2);
            position: relative;
            background-color: var(--white-color);
            z-index: 2;

            .icon-cancel {
                position: absolute;
                right: 24px;
            }

            &-items {
                display: flex;
                flex-direction: column;
                margin-top: 56px;

                li {
                    list-style: none;

                    p {
                        font-size: 20px;
                        line-height: 40px;
                    }
                }

                hr {
                    border: none;
                    border-top: 1px solid #0000001C;
                    margin: 20px 0 32px;
                }

                a:last-child {
                    margin-top: 16px;
                }
            }
        }

        .edit-business {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 24px;
            padding: 0 18px;

            .arrow-down {
                transform: rotate(180deg);
            }
        }

        .business-list-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 4px;
            padding: 0 18px;
            cursor: pointer;

            p {
                font-size: 18px !important;
                font-weight: 300;
            }
        }

        .add-bus-btn {
            margin-top: 32px;
        }

        .mb-4 {
            margin-bottom: 16px;
        }

        .my-account-nav {
            text-align: center;
            margin-top: 40px;
        }
    }
}