@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

:root {
  --primary-color: #0e2d52;
  --secondary-color: #d82c2c;
  --white-color: #ffffff;
  --black-color: #000000;
  --light-grey: #f9f9f9;

  /* fonts */
  --font-hn-light: "HelveticaNeue-Light";
  --font-hn-medium: "HelveticaNeue-Medium";
  --font-hn-bold: "HelveticaNeue-Bold";
  --font-inter: "Inter";
}

@font-face {
  font-family: var(--font-hn-light);
  src: url("/assets/fonts/HelveticaNeueLight.otf");
}

@font-face {
  font-family: var(--font-hn-medium);
  src: url("/assets/fonts/HelveticaNeueMedium.otf");
}

@font-face {
  font-family: var(--font-hn-bold);
  src: url("/assets/fonts/HelveticaNeueBold.otf");
}

@font-face {
  font-family: var(--font-inter);
  src: url("/assets/fonts/Inter-Regular.ttf");
}

.hideScrollBar::-webkit-scrollbar {
  /* customize it */
  width: 3px;
  background: transparent;
}

.hideScrollBar::-webkit-scrollbar-thumb {
  /* customize it */
  background: #777;
  border-radius: 30px;
}

.hideScrollBar::-webkit-scrollbar-track {
  /* customize it */
  background: transparent;
}

.hideScrollBar2::-webkit-scrollbar {
  /* customize it */
  width: 1px;
  background: transparent;
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
  border: none;
  outline: none;
}

/* Override Checkbox */
.override-checkbox > input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background: #fff;
  border: none;
  outline: 0.5px solid #000;
  border-radius: 2px;
  position: relative;
}

.override-checkbox > input[type="checkbox"]::before {
  content: "";
  font-size: 16px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.override-checkbox > input[type="checkbox"]:checked::before {
  opacity: 1;
}

.override-checkbox > input[type="checkbox"]:checked {
  background-color: #333;
  outline-color: #fff;
}
